@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #090D1F;
    color: white;
    font-family: 'Inter', sans-serif;
}

.name {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}

.custom-header a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.intro {
    font-family: Inter;
font-size: 243.8px;
font-weight: 700;
line-height: 295.05px;
    color: #FFFFFF;
    text-align: center;
    padding: 50px 0;
}

.hero {
    padding: 20px;
    text-align: center;
}

.article {
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
}

.head_news {
    font-size: 14px;
    color: #6941C6;
}

.content {
    font-size: 18px;
    color: #C0C5D0;
    font-weight: 600;
}

.badge {
    margin-right: 5px;
    background-color: #FFFFFF;
    color: black;
}


.main-image {
    width: 592px;
    height: 228px;
    object-fit: cover;
}

.secondary-image {
    width: 320px;
    height: 200px;
    object-fit: cover;

}

.third-image{
     width: 592px;
    height: 246px;
    object-fit: fill;
}
.heading-news {
font-family: Inter;
font-size: 24px;
font-weight: 600;
line-height: 32px;
color: #FFFFFF;
}
.content-news {
font-family: Inter;
font-size: 16px;
font-weight: 400;
color: #C0C5D0;
margin: 20px 0;

}
.Title2 {
font-family: Inter;
font-size: 24px;
font-weight: 600;
line-height: 32px;
}
.prueba {
width: Fixed (1,216px)px;
height: Hug (1,032px)px;
gap: 32px;
    
}
.image5{
width: 384px;
height: 240px;

}

.head_news {
    font-size: 0.9rem;
    color: #6941C6;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    color: #333;
}

.tags .badge {
    margin-right: 5px;
}
.color{
    background-color: #090D1F;
}

.heading-news-wrapper {
    display: flex;
    align-items: center;
}

.heading-news {
    flex-grow: 1;
    margin: 0;
    font-size: 24px; /* Ajusta el tamaño del texto del encabezado si es necesario */
}

.arrow-icon-button {
    background-color: transparent; /* Fondo transparente para que parezca parte del diseño */
    border: none; /* Sin bordes para un estilo limpio */
    margin-left: 10px; /* Espacio entre el encabezado y el ícono */
    padding: 5px; /* Añade algo de espacio alrededor del botón */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* Opcional: para darle un diseño redondeado */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.arrow-icon-button i {
    transform: rotate(-45deg); /* Rotar hacia arriba a la derecha */
    font-size: 24px; /* Ajusta el tamaño del icono si es necesario */
    color: #FFFFFF; /* Cambia el color del icono si es necesario */
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}


.text-white{
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.numbers{
    color: #EFEFEF !important;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-decoration: none;
    width: 40px;
    height: 40px;
    gap: 0px;
    border-radius: 8px 0px 0px 0px;
    opacity: 0px;
    margin: 1rem;

}

.landing{
    color: #EFEFEF;
    justify-content: left;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.testito{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;

}

.new-image {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 426px; /* Mantiene la proporción de la imagen */
    border-radius: 8px;
    margin: 20px 0; /* Centra verticalmente eliminando el margen automático */
    display: block;
    object-fit: cover; 
}

.new-image2 {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 498px; /* Mantiene la proporción de la imagen */
    border-radius: 8px;
    margin: 20px 0; /* Centra verticalmente eliminando el margen automático */
    display: block;
    object-fit: cover; 
}

.heading-news-blog{
    flex-grow: 1;
    margin: 0;
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;     

}

.content-news2{
    font-family: Inter;
font-size: 16px;
font-weight: 700;
line-height: 24px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color:  #C0C5D0;
;
}

.content-news3 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    color: #C0C5D0;
    margin: 20px 0;
    text-align: center;
    }
.content-news4{
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-align: left;
    color: #C0C5D0;
    }

    .content-news5{
        font-family: Inter;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        text-align: left;
        color: #C0C5D0;
        }
    .new-image3 {
        width: 100%; /* Ocupa todo el ancho del contenedor */
        height: 426px; /* Mantiene la proporción de la imagen */
        border-radius: 8px;
        margin: 20px 0; /* Centra verticalmente eliminando el margen automático */
        display: block;
        object-fit: cover; 
    }
    .head_news2 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
        color: #7F56D9;
    } 
    .head_end{
     
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.02em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    }
    .content_end {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    }
    .subscription-container {
        text-align: center;
      }
      .subscription-form {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
      }
      .subscription-form input[type="email"] {
        padding: 10px 15px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 300px;
        outline: none;
      }
      .subscription-form input[type="email"]::placeholder {
        color: #b3b3b3;
      }
      .subscription-form button {
        background-color: #6f47ff; /* Color morado */
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
      }
      .subscription-form button:hover {
        background-color: #5939cc;
      }
      .privacy-policy {
        margin-top: 10px;
        font-size: 14px;
        color: #b3b3b3;
      }
      .privacy-policy a {
        color: #6f47ff;
        text-decoration: none;
      }
      .privacy-policy a:hover {
        text-decoration: underline;
      }

      .head_news2{
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

      }
      .content-notice{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#C0C5D0;
      }
      .img-notice{
    width: 636px;
    height: 424px;
       

      }

      .fondo{
        border-radius: 3rem;
        width: 4.5rem;
        height: 2.2rem;
      }