@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #090D1F;
    color: white;
    font-family: 'Inter', sans-serif;
}

.name {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}

.custom-header a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.intro {
    font-size: 96px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    padding: 50px 0;
}

.hero {
    padding: 20px;
    text-align: center;
}

.article {
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
}

.head_news {
    font-size: 14px;
    color: #6941C6;
}

.content {
    font-size: 18px;
    color: #C0C5D0;
    font-weight: 600;
}

.badge {
    margin-right: 5px;
}

.main-image {
    width: 592px;
    height: 228px;
    object-fit: cover;
}

.secondary-image {
    width: 320px;
    height: 200px;
    object-fit: cover;

}

